.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: fit-content;
    background-color: #f76c6c;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 0.7rem 0.2rem;
    margin: 0;

    span {
        font-style: italic;
    }

    a {
        text-decoration: none;
        color: #fff;

        &:visited {
            color: #fff;
        }

    }
}