.member-card {
    height: 4em;
    padding: 1.2em;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        height: 80%;
    }

    div {
        height: fit-content;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-self: flex-start;
        padding: 0 0.6rem;

        h4 {
            padding-bottom: 0.1rem;
        }

        h4::first-letter {
            text-transform: capitalize;
        }

        .card-qualifiers {
            margin: 0;
            padding: 0;
            text-align: start;
        }

        p::first-letter {
            text-transform: capitalize;
        }

    }

    .delete-btn {
        justify-self: flex-end;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3px;
        color: #8d5555;
        border: solid 1px #8d555500;
        border-radius: 2px;
        background-color: rgba(255, 255, 255, 0);
        transition: 0.25s;
        opacity: 0;

        &:hover {
            color: #b30000;
            border: solid 1px #8d5555;
        }
    }

    .show-on {
        opacity: 1;
    }
}