@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

$color-alpha: #b78846;

* {
    margin: 0;
    padding: 0;
    font-family: Lato;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}